<h2><%= @guest.name %></h2>
<div>
<strong>Episodes:</strong>
    <ul>
        <% @guest.episodes.map do |episode| %>
            <li><%=link_to episode.date, episode_path(episode) %></li> rating:
                <%# episode.appearances.map do |app| %>
                <%#end%>

                <%#how can I find both episode AND guest-specific appearances???%>
            <%end%>
    </ul>
    
</div>