<div class="container text-center p-5">

    <h1> Guest Show Page</h1>
    <h2> <%= @guest.name %> </h2>

    <div class="row justify-content-center">
        <div class="col-4">
            <ul class="list-group">
                <% @guest.episodes.each do |episode|%>
                <li class="list-group-item"> <%= link_to "Episode: #{episode.number} - Air Date: #{episode.date}", episode_path(episode) %>
                Rating: <%= @guest.get_rating(episode.id) %>
                </li>
                <%# get_rating logic written in Guest model %>
                <% end %>
            </ul>
        </div>
    </div>
</div>

<%# 4. Guest Show Page Episode links
On the Guest show page, add a list of the Episodes the Guest has appeared on.

For each Episode, show the:

date of the Episode
rating for the Appearance
Each Episode date should link to the show page for that Episode. %>