<h1> <%= @guest.full_name%></h1>


<ul>
<% @guest.each do |appear_var| %>
    <li><%= appear_var.episode%> | <%= appearance.rating %> </li>
<% end %>
</ul>
<ul>


# On the Guest show page, add a list of the Episodes the Guest has appeared on.

# For each Episode, show the:

# - date of the Episode
# - rating for the Appearance

# Each Episode date should link to the show page for that Episode.
