<h1>Episodes Guest has appeared on</h1>
<% @guest.episodes.each do |episode|%>
    <h3><%= episode.guest.name %></h3><br>
    <%= episode.date %><br>
    <%= appearance.rating%>
    <%end%>


# On the Guest show page, add a list of the Episodes the Guest has appeared on.

# For each Episode, show the:

# - date of the Episode
# - rating for the Appearance

# Each Episode date should link to the show page for that Episode.
