 <h1>Guest Name: <%=@guest.name %> </h1>
 <br/>
 <ul>
 <%@guest.episodes.map do|episode|%>

Date: <%=link_to episode.date, episode_path(episode.id)%><br/><br/>
Episode: <%=episode.number%><br/>
 <%episode.appearances.find do |rating|%> <br/>
Rating: <%=rating.rating%>
<br/><br/>
    <%end%>
    <%end%>
 </ul>
 <br/>

