<h1> <%= @guest.name %> </h1>

<p> <strong> Episodes appeared on: </strong> </p>

<ul>
<% @guest.appearances.each do |appearance| %>
    <li>
    Date: <%= link_to appearance.episode.date, episode_path(appearance.episode.id) %> | Rating: <%= appearance.rating %>
    </li>
<% end %>
</ul>