<h1> <%= link_to @guest.name %></h1>
<br>
<h2> <%= link_to @guest.occupation %><h2>




<%# after linking the "guest to their own page 
<%# I would like the user to fill out a form 
 - a form that allows the "user " 

 <%# 1. choose an existing, guest form the guest list, from a "drop down menu
 <%# 2. choose from the list of episodes, from a drop down menu
     3. enter a rating from the drop down menu" %>


     <%# i was not able to add a list of episodes the guest has appeared on 
     i am going to need more work on this
     I thought i worte the code correctly but it seems like i did not ?
     i did hae the rating and a guest for the drop down menu but did not deliever a new guest %>