<h1><%= @episode.date %></h1>
<h2> A list of the Episodes the Guest has appeared on:</h2>
<h3> Rating: <%= @appearance.rating %></h3>
 

 <h3> Episodes: </h3>
 <ul>
   <% @guest.episodes.uniq().map do |episode| %>
     <li> <%= episode.name %> </li>
   <% end %>
 </ul> 
