<html>

<body style="background-color:powderblue;">



<h1 style="text-align:center">All Guests</h1>

<% #I dont understand why my iterations are not running properly %>
<% #I feel this is what I have to code and Ive done it before %>
<% #I keept getting undefined methods for the enumerables 🙃%>
<% #this isn't working when I click on the guest name when I am at episodes/:id%>


<ul>
  <% @guests.each do |guest_info| %>
    <li><%= guest.name %>
    <% end %>
</ul>
</html>