<div class="container text-center p-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1>All Episodes</h1>

      <ul class="list-group">
        <% @episodes.each do |episode| %>
        <li class="list-group-item"><%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode_path(episode) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>