<h1>All Episodes</h1>

<ul>
  <% @episodes.each do |episode| %>
    <li><%= "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}"%></li>
  <% end %>
</ul>


<%# this was already here , this is iterating over an array and calling 
<%# each method in the object of this array which is the episode
taking two arg the episode, then excutes on "each of the array items and r/t the element
i don't understand what is happening in the last bit there" trftime("%B %d, %Y"%>
<%#  i guess i should accept it , but its stareing at me and i al lost in its web? %>

<%# i did my best and with more practice i will be able to get this i need more clearity
on liniking the files .  %>