<h1>All Episodes</h1>
<hr>

<ul>
  <% @episodes.each do |episode| %>
    <li><%= link_to "Episode #{episode.number} - #{episode.date.strftime("%B %d, %Y")}", episode_path(episode)  %></li>
  <% end %>
</ul>
