<h1> <%= @episode.date %></h1>
<h2> <%= @episode.rating %></h2>


<ul>
<% @episode.appearances.each do |appear_var| %>
    <li><%=  appear_var.guest %></li>
<% end %>
</ul>

# - Episode date
# - A list of the guests who were on that episode
# - Each guest's name should link to the Guest Show page