
<html>
<body style="background-color:powderblue;">
<br>
<h1 style="text-align:center">More information on Episode <%= @episode.number %> </h1>

<% #I dont have anything linking me to this specific episode yet. maybe a link_to to through the index page %>

<p>This episode aired: <%= @episode.date %></p>
<p>People who have guest starred in this episode:</p>
   
   <% #have to iterate through the guests to show them here%>
   <% #i should have access to guests because of my macros%>


    <% @episodes.guests.each do |guest_info|%>
        <li><%= link_to guest.name, guest_path(guest.id)%>  </li>
    <%end%>



</html>