<div class="container text-center p-5">

    <div class="row justify-content-center">
        <h1> Episode Show Page </h1>
    </div>
    <div class="row justify-content-center">
        <h2> <%= "Episode Number: #{@episode.number} - Date: #{@episode.date} "%></h2>
    </div>
    <% unless @episode.get_average_rating.nan? %>
    <div class="row justify-content-center">
        <h3> Average Rating: <%= @episode.get_average_rating %> </h3>
    </div>
    <% end %>

    <div class="row justify-content-center">
        <div class="col-6">
            <ul class="list-group">
                <% @episode.guests.each do |guest| %>
                <li class="list-group-item"> Guest: <%= link_to guest.name, guest_path(guest) %> </li>
                <% end %>
            </ul>

            <div class="row justify-content-center">
                <% if @success %>
                <div class="alert alert-success alert-dismissible fade show m-3" role="alert">
                    <%= @success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% end %>
            </div>

        </div>
    </div>

</div>

<%# 
3. Episode Show Page
On the episode show page, a user should see:

Episode date
A list of the guests who were on that episode
Each guest's name should link to the Guest Show page %>