<div class="container text-center p-5">

    <div class="row justify-content-center">
        <h1> Episode Show Page </h1>
    </div>
    <div class="row justify-content-center">
        <h2> <%= "Episode Number: #{@episode.number} - Date: #{@episode.date} "%></h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <ul class="list-group">
                <% @episode.guests.each do |guest| %>
                <li class="list-group-item"> Guest: <%= link_to guest.name, guest_path(guest) %> </li>
                <% end %>
            </ul>

            <div class="row justify-content-center">
                    <% if @success %>
                        <div class="alert alert-success m-3" role="alert">
                        <%= @success %>
                        </div>
                    <% end %>
            </div>

        </div>
    </div>

</div>

<%# 
3. Episode Show Page
On the episode show page, a user should see:

Episode date
A list of the guests who were on that episode
Each guest's name should link to the Guest Show page %>