<h1> Welcome to The Late Show Code Challenge</h1>
<h2> with Emmanuel Jose!</h2>
<hr>
<h2>
    <ul>
    <li><%= link_to "All Guests", "/guests/" %> </li><br>
    <li><%= link_to "All Episodes", "/episodes/" %> </li><br>
    <li><%= link_to "Create an Appearance", "appearances/new" %> </li>
    </ul>
</h2>

<!-- I decided to make a home/landing page after seeing Wilson's awesome post in the Night Benders channel. 

As a user or client, I want the functionality of a homepage so I can easily navigate the pages. -->