<h3> <%= link_to "All Guests", "/guests/" %> </h3>

<h3> <%= link_to "All Episodes", "/episodes/" %> </h3>

<h3><%= link_to "Create New Appearance", "/appearances/new" %> </h3>

<h3><%= link_to "Click here for The Late Show", "/" %> </h3>            


<!-- The "/" path is localhost:3000 -->

<!-- I know I do not need the /appearances/ (index) route/path, 
but it was bothering me having an empty index, 
and a user could in theory, type the path "/appearances/" without the "new" --> 

