<div style ='text-align: center; padding: 300px 20px'>
    <h1> Code Challenge 2 </h1>
    <br>
    <p style="font-size: 25px; letter-spacing: 1.5px; line-height: 30px">The application keeps track of <br> the guests that have appeared on the show.</p>



<span style="background-color:#80d8ff; padding: 14px; border-radius: 8px;"><%= link_to "START", new_appearance_path %></span>

</div>